<h1>login</h1>
<form (ngSubmit)="onSubmit()" [formGroup]=form>
  <div class="form__error">
    <p *ngIf="auth.error$ |async as error">{{error}}</p>
  </div>
  <div class="form__form-group">
    <div class="form__form-control">
      <div>
        <label for='username'>username:
        </label>
        <input name="username" type='text' formControlName="username">
      </div>
      <div *ngIf="usernameControl?.touched && !usernameControl?.valid"
        class="form__error">
        <p *ngIf="usernameControl?.errors?.['required']">
          The field username is required
        </p>
        <p *ngIf="usernameControl?.errors?.['minlength']">
          The field username length should be more than
          {{usernameControl?.errors?.['minlength']?.requiredLength}}
        </p>
      </div>
    </div>
    <div class="form__form-control">
      <div>
        <label for='password'>password:
        </label>
        <input name="password" type="password" formControlName="password">
      </div>
      <div *ngIf="passwordControl?.touched && !passwordControl?.valid"
        class="form__error">
        <p *ngIf="passwordControl?.errors?.['required']">The field password is
          required.
        </p>
        <p *ngIf="passwordControl?.errors?.['minlength']">The field password
          length should
          be not less than
          {{passwordControl?.errors?.['minlength']?.requiredLength}}
          symbols.</p>
        <p *ngIf="passwordControl?.errors?.['pattern']">There's no
          at least one capital letter, digit and special symbol
        </p>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="form.invalid">submit</button>
</form>
