@use "../utilities" as *;

.button_primary, .button_secondary {
  padding: rem(20) rem(48);
  font-size: font(20);
  border-radius: rem(12);
}

.button_primary, .button_secondary, .button_thirdly {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 120%;
  font-weight: 500;
}

.button_primary {
  min-width: rem(180);
  color: color(gray-200);
  background: color(primary-700);

  &:hover {
    background: color(primary-800);
  }
}

.button_secondary {
  color: color(primary-700);
  background: color(primary-200);

  &:hover {
    color: color(primary-800);
    background: color(primary-300);
  }
}

.button_thirdly {
  padding: rem(8) 0;
  font-size: font(16);
  color: color(primary-700);
  background: transparent;

  &:hover {
    color: color(primary-800);
  }
}
