@use "../utilities" as *;

button {
  padding: rem(8) rem(16);
  background: none;
  text-transform: uppercase;
  font-size: font(16);
  font-weight: 700;
  letter-spacing: rem(1.6);
  transition: 0.25s;
}

button:disabled {
  opacity: 0;
  visibility: hidden;
}

.input-button {
  position: absolute;
  top: 0;
  right: rem(-16);
}
