@use "../utilities" as *;

form {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 16px;
}

.server-error {
  position: absolute;
  color: color(red-900);
}

.mat-form-field {
  width: rem(352);
}

::ng-deep {
  & .mat-form-field-appearance-outline .mat-form-field-wrapper > .mat-form-field-subscript-wrapper {
    line-height: rem(18);
    padding: 0;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-width: 1px !important;
  }

  &.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex .mat-form-field-outline {
    transition: .25s ease-in-out;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: rem(8) 0 0 rem(8) !important;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 rem(8) rem(8) 0 !important;
  }

  &.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  &.mat-form-field:not(mat-focused) {
    .mat-form-field-outline-start, .mat-form-field-outline-end, .mat-form-field-outline-gap {
      background: color(gray-100);
    }
  }
}
