form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

input {
  display: inline-block;
  width: 100%;
  background: none;
  outline: none;
}

.profile__input {
  position: relative;
  border-bottom: rem(1) solid rgba(255, 255, 255, 0);
  transition: 0.25s;

  label {
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.25s;
  }

  input {
    opacity: 0;
    transition: 0.25s;
  }

  div {
    transition: 0.25s;
  }
}

.form__form-control {
  position: relative;
}

.form__error {
  position: absolute;
}
