<app-make-move-container [extent]="extent" [routerLink]="['/project', project.id]">
  <div top>
    <h3>{{project.title}}</h3>
    <p>{{project.description}}</p>
  </div>

  <div pull-out class="pull-out" *ngIf="project.mainPreview">
    <picture>
      <source type="image/webp" [attr.lazyLoad]="'assets/img/projects/webp/' + project.images[2] + '.webp'">
      <source type="image/png" [srcset]="'assets/img/projects/png/' + project.images[2] + '.png'">
      <img [src]="'assets/img/projects/png/' + project.images[2] + '.png'" alt="project-preview">
    </picture>
  </div>src/assets/img/projects/webp/nft-1.webp
  <div bottom class="tag__container">
    <app-tag *ngFor="let tag of project.skills.slice(0, 4)" [tag]="tag"></app-tag>
    <app-tag class="tag_counter" *ngIf="project.skills.slice(4).length"
             [tag]="project.skills.slice(4).length + '+'"></app-tag>
  </div>
</app-make-move-container>