@use 'src/styles/main' as *;

:host {
  display: block;
  width: 100%;
  height: fit-content;
  cursor: pointer;

  @media screen and (min-width: get-breakpoint(l)) {
    width: calc((100% - #{rem(12)}) / 2);
  }

  @media screen and (min-width: get-breakpoint(xxl)) {
    width: calc((100% - #{rem(12 * 2)}) / 3);
  }

  ::ng-deep app-make-move-container .container .target {
    @include card;
    display: block;
    padding: rem(32);
  }
}

.pull-out {
  height: rem(180);
  border-radius: rem(8);
  overflow: hidden;
}

h3, p {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: normal;
}

h3 {
  -webkit-line-clamp: 1;
}

p {
  -webkit-line-clamp: 2;
  margin: rem(20) 0 rem(32);
}

.tag__container {
  margin-top: rem(32);
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: rem(8);

  >:last-child.tag_counter {
    --skill-background: #{color(gray-200)};
  }
}