<app-make-move-container [extent]="extent" [routerLink]="['/project', project.id]">
  <div top>
    <h3>{{project.title}}</h3>
    <p>{{project.description}}</p>
  </div>

  <div pull-out class="pull-out" *ngIf="project.mainPreview">
    <img [src]="'assets/img/projects/' + project.images[2] + '.png'" alt="project-preview">
  </div>
  <div bottom class="tag__container">
    <app-tag *ngFor="let tag of project.skills.slice(0, 4)" [tag]="tag"></app-tag>
    <app-tag class="tag_counter" *ngIf="project.skills.slice(4).length" [tag]="project.skills.slice(4).length + '+'"></app-tag>
  </div>
</app-make-move-container>