@use "../../../../../styles/main.scss" as *;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:host > :last-child {
  margin: rem(32) 0 0;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other__title {
  font-weight: 700;
}

.other__container {
  max-width: rem(244);

  p {
    text-align: center;
  }
}

.other__container_langs {
  display: flex;
  flex-direction: row;

  p {
    padding: 0 rem(12);
  }
}
