<p class="position">Frontend Developer</p>

<h2>Kseniya Sychova</h2>

<p class="text">
  Passionate Frontend Developer who follows clean code principles.
  I'm striving to write a clean, readable code by following best practices. While doing so I'm collaborating closely
  with the team to make it best for all of us and help everyone improve and learn from each other
</p>

<app-big-button [routerLink]="['/', 'projects']">
  Go to my Projects
  <app-arrow-icon [size]="24" class="arrow"></app-arrow-icon>
</app-big-button>