<p class="position">Frontend Developer</p>

<h2>Kseniya Sychova</h2>

<p class="text">
  I'm experienced frontend developer with 2 years of commercial experience completing meaningful projects.
  Currently, enhancing app functionality and user experience via new framework migration.
  Passionate about clean, readable code and mentoring new developers. Committed to producing high-quality work and
  achieving goals with a focus on teamwork.
</p>

<app-big-button [routerLink]="['/', 'projects']">
  Go to my Projects
  <div class="arrow">
    <app-arrow-icon></app-arrow-icon>
  </div>
</app-big-button>