<p class="position">Frontend Developer</p>

<h2>Kseniya Sychova</h2>

<p class="text">
  I am a passionate frontend developer who prioritizes clean and readable code by following best practices.
  Collaborating closely with my team, I am committed to producing high-quality work that provides a positive user
  experience. With a strong focus on teamwork, I am confident in my ability to contribute to any project and help my
  team achieve its goals.
</p>

<app-big-button [routerLink]="['/', 'projects']">
  Go to my Projects
  <div class="arrow">
    <app-arrow-icon [size]="24" class="arrow"></app-arrow-icon>
  </div>
</app-big-button>