@use 'src/styles/main' as *;

:host {
  --stick-to-mouse-width: fit-content;

  width: var(--stick-to-mouse-width);
  display: inline-block
}

.wrapper {
  width: var(--stick-to-mouse-width);
  position: relative;
}

.stick-area {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 115%;
  width: 70%;
  transform: translate(-50%, -50%) scale(2);
  pointer-events: none;
}

.target {
  width: var(--stick-to-mouse-width);
}