@use 'src/styles/main' as *;

:host {
  @include card;
  display: block;
  width: 100%;
}

a {
  display: block;
  padding-top: rem(20);
}

img {
  width: 100%;
}

hr {
  height: rem(1);
  width: calc(100% - 4rem);
  background: color(gray-300);
}

.article {
  &__link {
    font-weight: 500;
    display: flex;
  }


  &__content {
    padding: rem(32) rem(32);

    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }
}
