@use 'src/styles/main' as *;

:host {
  --skill-font-size: #{font(12)};
  --skill-background: #{color(gray-400)};
}

p {
  width: fit-content;
  padding: rem(6) rem(10);
  font-size: var(--skill-font-size);
  color: color(black-900);
  background: var(--skill-background);
  border-radius: rem(6);
}
