@use 'src/styles/main' as *;

p {
  width: fit-content;
  padding: rem(6) rem(10);
  font-size: font(12);
  color: color(black-900);
  background: color(gray-300);
  border-radius: rem(6);
}
