@use "../../../../../styles/main.scss" as *;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.25s;
  margin: rem(32) 0 0;

  > :first-child {
    margin: 0;
    font-weight: 700;
  }
}
