@use 'src/styles/main' as *;

.wrapper {
  position: relative;
  width: fit-content;
  z-index: 1;
}

.stick-area {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200%;
  width: 100%;
  transform: translate(-50%, -50%) scale(2);
  z-index: -1;
}