$font-base: 16;
$fonts: (64, 48, 32, 24, 20, 18, 16, 12);

$colors: (
  primary-100: #eef2ff,
  primary-200: #e0e7ff,
  primary-300: #c7d2fe,
  primary-700: #4338CA,
  primary-800: #3730a3,
  gray-100: #FFFFFF,
  gray-200: #f7f7f7,
  gray-300: #F1F1F1,
  gray-700: #85858a,
  gray-800: #656569,
  gray-900: #49484b,
  red-900: #f44336,
  black-900: #000,
);

$breakpoints: (
  s: 482px,
  m: 640px,
  l: 992px,
  xl: 1440px,
  xxl: 1920px,
);
