$font-base: 16;
$fonts: (32, 24, 20, 18, 16, 12);

$colors: (
  primary-100: #eef2ff,
  primary-200: #e0e7ff,
  primary-300: #c7d2fe,
  primary-700: #4338CA,
  primary-800: #3730a3,
  gray-100: #FFFFFF,
  gray-200: #FBFBFB,
  gray-300: #F1F1F1,
  gray-700: #7B7987,
  gray-900: #403F48,
  red-900: #f44336,
);

$breakpoints: (
  s: 482px,
  m: 640px,
  l: 992px,
  xl: 1440px,
  xxl: 1920px,
);
