<h2>contacts</h2>

<div
        class="contacts-container"
        *ngIf="contacts.length > 0"
>
    <app-contact-manage-item
            *ngFor="let contact of contacts"
            [contact]="contact"
            (removeContact)="onRemove($event)"
            (editContact)="onEdit($event)"
    ></app-contact-manage-item>
</div>

<form [formGroup]="form" (ngSubmit)="isEdit ? onUpdate() : onSubmit()">
    <mat-form-field appearance="outline" class="title">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="type">
        <mat-hint>Title should contain only latin letters. Example: Github</mat-hint>
        <mat-error *ngIf="title?.invalid">{{titleError}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="link">
        <mat-label>Social link</mat-label>
        <input matInput placeholder="Social link" formControlName="value">
        <mat-hint>Social link should be valid to access</mat-hint>
        <mat-error *ngIf="link?.invalid">{{linkError}}</mat-error>
    </mat-form-field>
    <button class="button_primary">{{ isEdit ? 'Update' : 'Add' }}</button>
</form>