@use "src/styles/main.scss" as *;

h2 {
  margin-bottom: rem(32);
}

.contacts-container {
  display: flex;
  margin-bottom: rem(24);

  >:not(:last-child) {
    margin-right: rem(12);
  }
}

.title {
  margin-bottom: rem(24);
}

.link {
  margin-bottom: rem(32);
}