<h2>contacts</h2>

<!--<p class="server-error">{{auth.error$ | async}}</p>-->

<div class="contacts-container">
    <app-contact-manage-item [icon]="0"></app-contact-manage-item>
    <app-contact-manage-item [icon]="1"></app-contact-manage-item>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="title">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-hint>Title should contain only latin letters. Example: Github</mat-hint>
        <mat-error *ngIf="title?.invalid">{{titleError}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="link">
        <mat-label>Social link</mat-label>
        <input matInput placeholder="Social link" formControlName="link">
        <mat-hint>Social link should be valid to access</mat-hint>
        <mat-error *ngIf="link?.invalid">{{linkError}}</mat-error>
    </mat-form-field>
    <button class="button_primary">Add</button>
</form>