@use "../../../../../styles/main.scss" as *;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills__container {
  width: rem(372);
  margin: rem(48) 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: get-breakpoint(m)) {
    width: rem(480);
  }

  p {
    margin: rem(16) rem(12);
    transition: 0.25s;
  }
}
