@use '../styles/main.scss' as *;

:host {
  display: flex;
  height: 100vh;
  padding: 0;
  background: color(gray-200);
}

main {
  width: 100%;
  padding: rem(120) rem(24);
  overflow: auto;

  @media screen and (min-width: get-breakpoint(m)) {
    padding: rem(120) rem(64);
  }

  @media screen and (min-width: get-breakpoint(l)) {
    padding: rem(120) rem(80);
  }

  @media screen and (min-width: get-breakpoint(xl)) {
    padding: rem(120) rem(120);
  }

  @media screen and (min-width: get-breakpoint(xxl)) {
    padding: rem(120) rem(144);
  }
}

.no-scroll {
  overflow: hidden;
}
