<h1>{{ profileData?.name }}</h1>
<h3>Junior Frontend Developer</h3>
<div class=" profile__summary">
  <p>I`m a Junior Frontend Developer. I started to learn frontend development
    with my mentor. I think such way of learning helps me to understand more
    about working in company and also in a team. Our mentoring program
    increases my knowledge with the most important and modern Frontend
    technologies.
  </p>
  <p>I am looking for a company that will give me friendly enviroment in which
    i will increase my knowledge in creating large-scale applications.
  </p>
</div>
