@use "../../../../../styles/main.scss" as *;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  padding: 0 0 rem(16);
  transition: 0.25s;
}

.profile__summary {
  p {
    margin: rem(12) 0 0;
    padding: 0 rem(8);
    text-align: center;

    @media screen and (min-width: get-breakpoint(m)) {
      padding: 0 rem(24);
    }

    @media screen and (min-width: get-breakpoint(l)) {
      padding: 0 rem(164);
    }

    @media screen and (min-width: get-breakpoint(xl)) {
      padding: 0 rem(400);
    }

    @media screen and (min-width: get-breakpoint(xxl)) {
      padding: 0 rem(640);
    }
  }

  > :first-child {
    margin: 0;
  }
}
