<h5>{{ project.subtitle }}</h5>
<p class="project__title">{{ project.title }}</p>

<div class="project__content">
  <div class="project__video" *ngIf="project.mainPreview">
    <video autoplay muted loop (canplaythrough)="onVideoLoad()" [style.visibility]="isVideoLoaded ? 'visible' : 'none'">
      <source [src]="'assets/videos/projects/' + project.mainPreview + '.mp4'" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div *ngIf="!isVideoLoaded" class="skeleton-container">
      <ngx-skeleton-loader></ngx-skeleton-loader>
    </div>
  </div>

  <section class="project__text-block" *ngIf="project.description">
    <h5>Description</h5>
    <div>
      {{ project.description }}
      <app-link *ngIf="project.links.length" [src]="project.links[0].url">Launch project</app-link>
    </div>
  </section>

  <div class="project__screens" *ngIf="project.images.length">
    <div class="screen__container" *ngFor="let img of project.images; let i = index">
      <picture [style.visibility]="isLoaded ? 'visible' : 'none'">
        <source type="image/webp" [attr.lazyLoad]="'assets/img/projects/webp/' + img + '.webp'">
        <source type="image/png" [srcset]="'assets/img/projects/png/' + img + '.png'">
        <img (load)="onLoad(i)" [ngSrc]="'cv/projects/' + img + '.png'" fill alt="project-screen">
      </picture>
      <div *ngIf="!isLoaded[i]" class="skeleton-container">
        <ngx-skeleton-loader></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <section class="project__text-block" *ngIf="project.tech">
    <h5>Tech Side</h5>
    <div>
      {{ project.tech }}

      <div class="project__tags">
        <app-tag *ngFor="let tag of project.skills" [tag]="tag"></app-tag>
      </div>
    </div>
  </section>
</div>