@use "src/styles/main.scss" as *;

:host {
  --icon-height: #{rem(24)};
  --icon-width: #{rem(24)};

  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  position: relative;
  display: inline-block;
  height: var(--icon-height);
  width: var(--icon-width);
}

svg {
  position: absolute;
  width: 100%;
  height: auto;
}