@use "src/styles/main" as *;

.sidebar-container {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100vh;
  overflow: auto;
  z-index: 1000;
  background: color(gray-200);
  width: 100%;
  transition: 0.25s width ease-in-out,
    0.25s background-color ease-in-out;
  pointer-events: all;

  @media screen and (min-width: get-breakpoint(xl)) {
    position: static;
    background: none;
    box-shadow: none;
  }

  &.close {
    width: 0;
    border-left: rem(1) solid transparent;
  }
}

.menu-button {
  position: fixed;
  top: rem(24);
  right: rem(24);
  z-index: 10000;

  @media screen and (min-width: get-breakpoint(xl)) {
    display: none;
  }
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: rem(56);
  margin: rem(24) rem(24) 0;
  width: rem(364);

  @media screen and (min-width: get-breakpoint(xl)) {
    padding-top: 0;
  }

  & > :not(:last-child) {
    margin-bottom: rem(24);
  }

  & > :last-child {
    margin-top: auto;
    padding-bottom: rem(24);
    font-size: font(12);
    font-weight: 300;
    line-height: 160%;
  }
}

.socials__container {
  display: flex;
  width: 100%;

  & > :first-child {
    margin-right: rem(24);
  }
}
