@use '../../../styles/main' as *;

.sidebar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(364);
  height: 100vh;
  padding: rem(24);
  overflow: auto;

  @media screen and (min-width: get-breakpoint(xl)){
    position: static;
    padding: rem(24);
  }

  &.close {
    height: fit-content;
  }
}

.menu-button {
  @media screen and (min-width: get-breakpoint(xl)){
    display: none;
  }
}

.sidebar {
  height: 100%;
  margin-top: rem(24) ;
  transition: .4s;

  @media screen and (min-width: get-breakpoint(xl)){
    margin-top: 0;
  }

  &>:nth-child(n) {
    margin-bottom: rem(24);
  }

  &>:last-child {
    position: relative;
    bottom: 0;
    font-size: font(12);
    font-weight: 300;
    line-height: 160%;
  }
}

.socials__container {
  display: flex;
  width: 100%;

  &>:first-child {
    margin-right: rem(24);
  }
}
