@use 'src/styles/main' as *;

:host {
  width: calc(100% / 2 - #{rem(12)});
}

a {
  @include card;
  display: flex;
  align-items: center;
  padding: rem(16) rem(24);

  >:first-child {
    --icon-height: #{rem(24)};
    --icon-width: #{rem(24)};

    color: color(primary-700);
  }

  &:hover {
    background: color(gray-200);
  }
}

p {
  margin-left: rem(16);
  line-height: 160%;
}
