@use 'src/styles/main' as *;

:host {
  >:first-child {
    --stick-to-mouse-width: 100%;
  }

  width: 50%;
}

a {
  @include card;
  display: flex;
  align-items: center;
  padding: rem(16) rem(24);
  color: color(black-900);

  > :first-child {
    --icon-height: #{rem(24)};
    --icon-width: #{rem(24)};
  }
}

p {
  margin-left: rem(16);
  line-height: 160%;
}
