@use "../../../styles/main.scss" as *;

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  margin: rem(4) 0;
}

.form__form-group {
  margin: 0 0 rem(24);
}

.form__form-control {
  position: relative;
  margin: rem(28) 0 0;
  width: rem(368);

  label {
    padding: rem(8) 0;
  }

  input {
    padding: rem(8) rem(8) rem(8) rem(84);
  }

  > :first-child {
    border-bottom: rem(1) solid color(dark);

    > :last-child {
      margin: 0;
    }
  }
}

.form__error {
  position: absolute;

  p {
    font-size: font(14);
    color: color(error);
  }
}
