@use "src/styles/main" as *;

:host {
  @include card;
  display: block;
  width: 100%;
}

img {
  cursor: pointer;
}

hr {
  height: rem(1);
  width: calc(100% - 2rem);
  margin: rem(24) auto;
  background: color(gray-300);
}

ul {
  margin: rem(24) rem(-16) 0;
}

.menu__point {
  margin: rem(4);
  border-radius: rem(8);
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  display: block;
  padding: rem(8) rem(16);
  text-transform: capitalize;
  color: color(gray-700);

  &.active {
    background: color(gray-300);

    &:hover {
      background: color(gray-300);
    }

    a {
      color: color(gray-900);
    }
  }

  &:hover {
    background: color(gray-200);
  }
}

.menu {
  &__logo {
    width: rem(48);
    height: auto;
  }

  &-container {
    padding: rem(32);
  }
}
