<div class="menu-container">
  <img src="../../../../../../assets/svg/logo.svg" alt="logo" class="menu__logo" [routerLink]="['/', 'home']">
  <ul>
    <li [routerLink]="['/', 'home']" routerLinkActive="active" class="menu__point"><a>home</a></li>
    <li [routerLink]="['/', 'projects']" routerLinkActive="active" class="menu__point"><a>projects</a></li>
    <li [routerLink]="['/', 'skills']" routerLinkActive="active" class="menu__point"><a>skills</a></li>

    <li>
      <hr>
    </li>

    <li class="menu__point"><a href="/assets/docs/cv.pdf" download="Kseniya_Sychova_FE_Angular">Get CV</a></li>
  </ul>
</div>

