<h1>Time for updates</h1>

<app-section title='me and myself'>
  <app-contacts></app-contacts>
</app-section>

<app-section title='contacts'>
  <app-contacts></app-contacts>
</app-section>

<app-section title='skills'>
  <app-skills></app-skills>
</app-section>


<app-section title='projects'>
  <app-projects></app-projects>
</app-section>

<app-section title='education'>
  <app-education></app-education>
</app-section>

<app-section title='language'>
  <app-language></app-language>
</app-section>
