*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
}

body {
  height: 100vh;
}

ul,
ol {
  list-style-type: none;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
select,
a {
  transition: .25s;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  font: inherit;
}

hr {
  display: block;
  margin: 0 auto;
}

::-webkit-scrollbar, ::-webkit-scrollbar:horizontal {
  height: .25rem;
  width: .25rem;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0.1rem;
}
