@use "../utilities/functions" as *;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

* {
  font-family: "Jost", Arial, sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  color: color(gray-900);
}

h3, h4 {
  line-height: 140%;
}

h4, h5, p {
  color: color(gray-700);
}

h2 {
  font-size: font(32);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: rem(2);
  text-transform: uppercase;
}

h3 {
  font-size: font(24);
}

h4 {
  font-size: font(18);
}

h5 {
  font-size: font(16);
  line-height: 160%;
}

p {
  font-size: font(16);
  line-height: 180%;
}
